<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Django Todo with Vue.js{% endblock %}</title>
    {% load static %}
    <script src="{% static 'js/axios.min.js' %}"></script>
    <script src="{% static 'js/vue.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/todo.css' %}">

</head>
<body>
<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <input class="new-todo"
      autofocus autocomplete="off"
      placeholder="What needs to be done?"
      v-model="newTodo"
      @keyup.enter="addTodo">
  </header>
  {% block content %}

  {% endblock %}
</section>
<footer class="info">
  <p>Double-click to edit a todo</p>
  <p>Written by <a href="http://evanyou.me">Evan You</a></p>
  <p>Edited by <a href="https://github.com/baepeu">Baepeu</a> Ver. Django</p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>

{% block extra_script_footer %}
{% endblock %}
</body>
</html>
